h1,h2{
	text-align: center;
	font-family: "Abril Fatface", "sans-serif", Times New Roman;
}
h1{
	color: #CB0200;
}
h3{
	color:#ffff;
	text-align: center;
}

html{
	background: #0A2570;
}
html,head,body{
	
}
video{
	width: 100%;
	height: 50%;
}
.twitter-follow-button{
	text-align: center;
}
